<Layouts.app flash={@flash}>
  <.header>
    Edit Room message {@room_message.id}
    <:subtitle>Use this form to manage room_message records in your database.</:subtitle>
  </.header>

  <.room_message_form changeset={@changeset} action={~p"/room_messages/#{@room_message}"} return_to={~p"/room_messages"} />
</Layouts.app>
